body{
    margin: 0;
    padding: 0;
    background-color: rebeccapurple;
}

h1{
    color: blue;
    text-align: center;
    margin-top: 20%;
}

.container{
    justify-content: center;
    display: grid;
    /* usar o fr para responsividade */
    grid-template-columns: 200px 200px 200px;
    grid-auto-rows: 200px;
    gap: 1em;
    align-content: center;
    /* align-items: center; */

    
}

.item{
    padding: 2em;
    background-color: blue;
    color: white;
    text-align: center;
    border: 8px;
    font: 1.5 rem;

}
